.register input:-webkit-autofill, 
.register input:-webkit-autofill:focus {
    border: 10px solid #413047 !important;
    -webkit-text-fill-color: #fff;
    caret-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #413047 inset;
    padding: 0 10px !important;
}

.register {
    padding-top: 6vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register__main-title {
    font-size: 36px;
    color: #D48EFF;
    margin-bottom: 50px;
}

.register__content {
    display: flex;
    border: 3px solid #583B5F;
    overflow: hidden;
}

.register__img {
    width: 575px;
    height: auto;
}

.register__back {
    display: none;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
    transition: .2s ease-in-out;
    margin-left: -18px;
}

.register__back:hover i {
    margin-left: -5px;
    margin-right: 5px;
}

.register__back i {
    font-size: 26px;
    transition: .2s ease-in-out;
}

.register__box {
    background: rgba(88, 59, 95, .3);
    padding: 35px 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.register__title {
    font-size: 24px;
}

.register__subtitle {
    font-weight: 400;
    font-size: 16px;
}

.register__inputs {
    display: grid;
    grid-gap: 25px;
}

.register .input__box {
    background: none;
    position: relative;
    width: 380px;
}

.register .input__box input {
    height: 50px;
    width: 100%;
    position: relative;
    z-index: 10;
    border: none;
    outline: none;
    border-radius: 7px;
    color: #fff;
    padding: 0 0 0 20px;
    font-size: 15px;
    background: #413047;
}

.invalid-text {
    margin-top: 5px;
}

.register .error-message {
    color: #ee3030;
    font-size: 13px;
    font-weight: 550;
}

.register .email-repeat {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: left;
}

.valid {
    border: 1px solid #20df43 !important;
    padding: 0 0 0 20px !important;
    transition: border .9s;
}

.invalid {
    border: 1px solid #df2020 !important;
    padding: 0 0 0 20px !important;
    transition: border .9s;
}

.register .input__box input::placeholder {
    color: #fff;
    font-size: 14px;
}

.register .pass__input-box input {
    font-size: 20px;
    padding: 20px 15px 8px;
}

.register .pass__input-box .register .input__text {
    padding: 20px 0;
}

.register .input__text {
    font-size: 16px;
    pointer-events: none;
    color: #fff;
    padding: 18px 0;
    position: absolute;
    left: 0;
    z-index: 10;
    transition: .5s;
}

.register .input__box input:valid ~ .register .input__text,
.register .input__box input:focus ~ .register .input__text {
    font-size: 14px;
    transform: translateY(-34px);
}

.register .pass__show {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 100;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.register .pass-input__box input:valid ~ .register .pass__show,
.register .pass-input__box input:focus ~ .register .pass__show {
    color: #000;
}

.register .pass-repeat__input-box input:valid ~ .register .pass__show,
.register .pass-repeat__input-box input:focus ~ .register .pass__show {
    color: #000;
}

.bottom-border {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: .5s;
    pointer-events: none;
}

.register .input__box input:valid ~ .bottom-border,
.register .input__box input:focus ~ .bottom-border {
    height: 40px;
}

.register__button {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    background: #4f3456;
    border-radius: 7px;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition-duration: .25s;
}

.register__button:disabled {
    background: #f4f1e11a;
    color: #f4f1e140;
    cursor: not-allowed;
}

.register__button:disabled:hover {
    background: #f4f1e11a;
    color: #f4f1e140;
    opacity: 1;
}

.register__button:hover {
    background: #bba9cb;
    color: #141414;
}

.register__to-login {
    margin-top: 50px;
    font-size: 15px;
}

.register__to-login a {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
}

@media screen and (max-width: 1130px) {
    .register {
        padding: 50px 0;
    }
    .register__img {
        display: none;
    }
    .register__box {
        width: 90vw;
    }
    .register__inputs, .register__links, .register__button {
        width: 100%;
    }
    .register .input__box {
        width: auto !important;
    }
}

@media screen and (max-width: 500px) {
    .register {
        padding: 0;
    }
    .register__back {
        display: flex;
    }
    .register__main-title {
        display: none;
    }
    .register__content {
        transform: scale(1);
        border: 0;
        padding-bottom: 3.5rem;
    }
    .register__box {
        width: 100vw;
        height: 100vh;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        padding: 0 30px;
    }
    .register__inputs {
        width: 100%;
    }
    .register__head {
        align-items: flex-start;
        margin-top: 25px;
    }
    .register__links {
        width: 100%;
    }
    .register__button {
        margin: 35px auto;
        width: 100%;
    }
    .register__to-login {
        width: 100%;
        text-align: center;
        margin: 0;
    }
}

@media screen and (max-width: 355px) {
    .register__to-login {
        font-size: 16px;
        line-height: 1.5;
    }
    .register__to-login a {
        text-decoration: none;
    }
}

@media screen and (max-width: 330px) {
    .register__links {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}
