@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: "GothamPro";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(fonts/GothamPro-Bold.3cabf0ca.ttf) format("truetype");
}


/* Transition Group */

/* Анимация для входа на страницу */
.page-enter {
    opacity: 0;
}

.page-enter-active {
    opacity: 1;
    transition: .9s ease-in-out;
}

/* Анимация для выхода со страницы */
/* Для анимации добавляем класс "page-exit" и "page-exit-active" */
/* transition указывает длительность и эффект анимации */
.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: .9s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    background: #261F28;
    font-family: "Montserrat", sans-serif !important;
    color: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

input,
textarea,
button {
    font-family: "Montserrat", sans-serif;
    outline: none;
}

ul {
    list-style: none;
}

a,
button {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

main {
    overflow: hidden;
}


/* Section */

.section {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section__title {
    color: #E5BBFF;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section__subtitle {
    font-size: 24px;
    font-weight: 600;
}

.section__desc {
    font-size: 16px;
}

/* Intro */

.intro {
    height: 100vh;
    background: url("https://i.imgur.com/VpeWKgF.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.header__image {
    display: none;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 15px;
    padding-bottom: 13px;
    border-bottom: 1px solid #4e3c5a;
}

.header__image img {
    width: 150px;
}

.intro__wrapper {
    padding-left: 100px;
    display: flex;
    align-items: center;
}

.intro__content {
    position: relative;
    z-index: 10;
    margin-right: 100px;
}

.intro__welcome {
    font-size: 20px;
}

.intro__title {
    font-size: 80px;
    font-weight: 700;
}

.intro__subtitle {
    font-weight: 600;
    font-size: 20px;
    margin: 0 auto 15px;
    padding-left: 4px;
}

.intro__desc {
    margin-bottom: 70px;
    max-width: 670px;
    color: rgba(255, 255, 255, .6);
    padding-left: 4px;
}

.intro__button {
    background-color: #583B5F;
    border-radius: 7px;
    color: #fff;
    padding: 15px 35px;
    margin-left: 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition-duration: .25s;
}

.intro__button:hover {
    background-color: #bba9cb;
    color: #000000;
}

.intro__image {
    width: 500px;
}

.about {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__content {
    width: 60%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about__title {
    margin-bottom: 12px;
}

.about__desc {
    margin-top: 50px;
    font-size: 17px;
    line-height: 1.5;
}

.about__img {
    height: 500px;
    width: auto;
    overflow: hidden;
}


/* Mods */

.mods {
    height: auto;
    background: url(https://i.imgur.com/EFTlnxX.jpg) center no-repeat;
    background-size: cover;
}

.mods .section {
    margin-bottom: 50px;
}

.mods__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Edge */

.edge {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edge .section__title {
    font-size: 26px;
}


/* Questions */

.questions {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions__inner {
    width: 100%;
}

.questions__content {
    margin: 70px 0 100px;
    padding: 0 100px;
}

/* Contacts */

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts__content {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts__button {
    width: 140px;
    background-color: #583B5F;
    border-radius: 10px;
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition-duration: .25s;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__button:hover {
    background-color: #bba9cb;
    color: #000000;
}

/* Footer */

.footer {
    background: #201922;
}

.footer__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    margin-bottom: 50px;
}

.footer__header .nav {
    margin-top: -5px;
}

.footer__header .nav__link {
    font-size: 15px;
}

.footer__header .nav__link {
    position: relative;
    padding-bottom: 5px;
    color: #fff;
    font-size: 17px;
}

.footer__copyright {
    margin: 0 25px;
    padding: 15px 0;
    border-top: 2px solid #302832ad;
    text-align: center;
    color: #453d47;
    font-size: 14px;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 0.6rem;
    border-radius: .5rem;
    background-color: hsl(287, 21%, 16%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(287, 21%, 26%);
    border-radius: .5rem;
    transition-duration: .25s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(287, 21%, 36%);
    transition-duration: .25s;
}


.scrollup {
    position: fixed;
    right: 2rem;
    bottom: -50%;
    background-color: #2f2133;
    padding: 8px;
    display: inline-flex;
    border-radius: .25rem;
    color: #ab82c4;
    font-size: 1.25rem;
    box-shadow: 0 4px 12px hsla(228, 15%, 8%, .4);
    z-index: 100;
    transition: bottom .4s, transform .4s;
}

.scrollup:hover {
    transform: translateY(-.25rem);
}

/* Show Scroll Up */

.show-scroll {
    bottom: 2rem;
}



/* Adaptation */

@media screen and (max-width: 1300px) {

    /* Intro */
    .intro__wrapper {
        padding-left: 50px;
    }

    .intro__title {
        font-size: 75px;
    }
}

@media screen and (max-width: 1255px) {

    /* Intro */
    .intro__title {
        font-size: 70px;
    }
}

@media screen and (max-width: 1180px) {

    /* Intro */
    .intro__wrapper {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .intro__content {
        margin-right: 0;
    }

    .intro__title {
        font-size: 75px;
    }

    .intro__image {
        display: none;
    }
}

@media screen and (max-width: 1140px) {

    /* About */
    .about__content {
        margin: 100px 50px;
    }

    .about__desc {
        font-size: 14px;
    }

    /* Questions */
    .questions__content {
        padding: 0 50px;
    }
}

@media screen and (max-width: 1000px) {

    /* Intro */
    .header__image {
        display: flex !important;
    }

    .intro__title {
        margin-top: 0;
        font-size: 75px;
    }

    .intro__subtitle {
        font-size: 16px;
        margin: 20px auto 5px;
    }

    .intro__desc {
        max-width: 720px;
    }

    .intro__image {
        display: none;
    }

    .intro__wrapper {
        padding: 0;
        justify-content: center;
    }

    .intro__content {
        text-align: center;
    }

    .intro__button {
        width: 220px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
    }

    /* About */
    .about {
        height: auto;
    }

    .about__inner {
        display: grid;
    }

    .about__content {
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 50px;
    }

    .section__desc {
        text-align: center;
    }

    .about__desc {
        font-size: 16px;
    }

    .about__img {
        display: none;
    }

    /* Scroll Up */
    .scrollup {
        right: 1rem;
    }

    .show-scroll {
        bottom: 5rem;
    }

    /* Footer */
    .footer__header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        height: 8rem;
    }

    .footer__header .header__logo {
        width: 170px;
    }
}

@media screen and (max-width: 850px) {

    /* About */
    .about__desc {
        line-height: 1.8;
    }
}

@media screen and (max-width: 767px) {

    /* Intro */
    .intro__title {
        font-size: 65px;
        margin-bottom: 0;
    }

    .intro__subtitle {
        font-size: 16px;
    }

    .intro__desc {
        max-width: 525px;
        margin: 0 auto 50px;
        font-size: 14px;
    }

    /* Mods */
    .mods__content {
        padding: 0 50px 50px;
    }
}

@media screen and (max-width: 650px) {

    /* Intro */
    .intro__title {
        font-size: 60px;
    }
}


@media screen and (max-width: 600px) {

    /* Intro */
    .intro__title {
        font-size: 50px;
    }

    .intro__subtitle {
        font-size: 14px;
        max-width: 550px;
        margin: 0 auto 20px;
    }

    .intro__desc {
        font-size: 13px;
    }

    .intro__button {
        width: 200px;
        padding: 10px 0;
    }

    /* Mods */
    .mods__content {
        grid-row-gap: 40px;
    }
}

@media screen and (max-width: 550px) {

    /* Section */
    .section__title {
        font-size: 28px;
    }

    .section__subtitle {
        font-size: 20px;
    }

    .section__desc {
        font-size: 13px;
        padding: 0 10px;
    }

    .mods .section__subtitle {
        font-size: 18px;
    }

    .mods .section__desc {
        font-size: 12px;
        padding: 0 11px;
    }

    /* Header */
    .nav__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .personal-area {
        width: 210%;
    }

    .login__link {
        margin-left: 0;
        margin-right: 0;
    }

    .register__link {
        margin-left: 0;
        margin-right: 0;
    }

    /* Intro */
    .intro__title {
        font-size: 45px;
    }

    .intro__subtitle {
        padding: 0 30px;
    }

    .intro__desc {
        max-width: 400px;
    }

    /* About */
    .about__desc {
        font-size: 14px;
    }

    /* Questions */
    .questions__item {
        font-size: 12px;
    }

    .questions__arrow {
        font-size: 28px;
    }
}

@media screen and (max-width: 500px) {

    /* Questions */
    .questions__content {
        padding: 0 20px;
    }

    .questions__header {
        font-size: 12px;
    }
}

@media screen and (max-width: 430px) {
    .intro__title {
        font-size: 40px;
    }

    .intro__desc {
        max-width: 390px;
    }
}

@media screen and (max-width: 400px) {

    /* Section */
    .section__title {
        padding: 0 15px;
    }

    /* Intro */
    .header__image {
        top: 15px;
    }

    .intro__wrapper {
        flex-direction: column;
        margin-top: 80px;
    }

    .intro__title {
        font-size: 33px;
    }

    .intro__subtitle {
        font-size: 12.5px;
        padding: 0 20px;
        margin: 5px auto 40px;
    }

    .intro__desc {
        display: none;
    }

    .intro__button {
        padding: 10px 25px;
        font-size: 14px;
    }

    .intro__image {
        display: block;
        margin-top: 30px;
        width: 250px;
        position: initial;
    }

    /* About */
    .about__content {
        margin: 50px 10px;
    }

    /* Questions */

    .questions__content {
        padding: 0 15px;
    }

    .questions__header {
        font-size: 11px;
        padding: 2px 0px 2px 10px;
    }

    .questions__arrow {
        font-size: 25px;
    }

    .questions__desc {
        font-size: 12px;
    }
}

@media screen and (max-width: 350px) {

    /* Section */
    .mods .section__subtitle {
        font-size: 16px;
    }

    .mods .section__desc {
        font-size: 11px;
        padding: 0 11px;
    }

    .edge .section__desc {
        font-size: 14px;
        padding: 0px 24px;
    }

    /* Intro */
    .intro {
        height: auto !important;
    }

    .intro__wrapper {
        margin-top: 0;
    }

    .intro__title {
        margin-top: 200px !important;
        font-size: 30px;
        text-align: center;
    }

    .intro__subtitle {
        text-align: center;
        font-size: 12px;
        padding: 0 20px;
        font-weight: 400;
    }

    .intro__image {
        width: 200px;
        margin-top: 50px;
    }

    /* Questions */
    .questions__header {
        font-size: 10px;
    }

}

@media screen and (max-width: 285px) {

    .section__title {
        font-size: 25px;
    }

    .intro__title {
        font-size: 25px;
    }

    .intro__subtitle {
        font-size: 10px;
        text-align: center;
    }

    .intro__button {
        width: 180px;
    }
}