@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: "GothamPro";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(fonts/GothamPro-Bold.3cabf0ca.ttf) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    background: #261F28;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

input,
textarea,
button,
body {
    font-family: "Montserrat", sans-serif;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

.main {
    overflow: hidden;
}