.modal {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__back {
    margin: 15px;
}

.modal__arrow {
    font-size: 40px;
}

.modal__content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal__item {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modal__wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.modal__title {
    font-size: 24px;
    color: #D48EFF;
}

.modal__price {
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
}

.modal__button {
    width: 100%;
    background-color: #583B5F;
    border-radius: 10px;
    color: #fff;
    padding: 13px 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition-duration: .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 7px;
}

.modal__button:hover {
    background-color: #bba9cb;
    color: #000000;
}

.modal__rating {
    margin-bottom: 30px;
}

.modal__rating-row {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.modal__rating span {
    padding-bottom: 10px;
}

.modal__review {
    background-color: #583B5F;
    border-radius: 10px;
    color: #fff;
    padding: 10px 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition-duration: .25s;
}

.modal__review:hover {
    background-color: #bba9cb;
    color: #000000;
}

.modal__desc-title {
    font-size: 24px;
    font-weight: 700;
}

.modal__desc {
    margin-top: -45px;
    line-height: 2;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow-wrap: break-word;
    white-space: pre-line;
    word-break: break-word;
}

.showed {
    max-height: 100%;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 100%, transparent 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 100%, transparent 100%);
}

.show-all {
    margin: 0 auto;
    width: 150px;
    margin-top: 30px;
    background-color: #583B5F;
    border-radius: 10px;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition-duration: .25s;
    border: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal__pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin-top: 20px;
}

.modal__image {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
    overflow: hidden;
    transition-duration: .25s;
    cursor: pointer;
    border-radius: 5px;
}

.modal__img {
    transition-duration: .25s;
}

.modal__image:hover .modal__img {
    transform: scale(1.1);
}

.modal__display {
    background-size: contain;
    width: 500px;
    border-radius: 10px;
    cursor: zoom-in;
    transition-duration: .25s;
}

.button {
    background-color: #583B5F;
    border-radius: 10px;
    color: #fff;
    padding: 10px 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition-duration: .25s;
    outline: none;
    border: none;
}

.button:hover {
    background-color: #bba9cb;
    color: #000000;
}

.link {
    color: #D48EFF;
}


@media screen and (max-width: 850px) {
    .modal {
        margin: 0;
    }

    .modal__item {
        display: grid;
        padding: 20px;
    }

    .modal__pictures {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .modal__content {
        width: 100%;
    }

    .modal__button {
        width: 120px;
        border-radius: 7px;
        padding: 8px 0;
        font-size: 16px;
    }

    .modal__images {
        width: 100%;
    }

    .modal__pagination {
        margin-top: 15px;
        gap: 0;
        justify-content: space-between;
    }

    .modal__display {
        width: 100%;
    }
}